{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/pages.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            Search Me!
        </div>
        <div>
            
        </div>
        <div>
            <h2>
                Data Dump
            </h2>
                {{ nodes }}
        </div>
    </body>
</html>